* {
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 7px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
     background-color: rgba(238, 239, 236, 0.73);
}
a{
    text-decoration: none;
}
h1{
    font-style: italic;
    font-size: 48px;
    padding: 10px;
    text-align: center;
    color: #084172;
}
.calendaricon{
    font-size: 30px;
    float:right;
}
.datetime{
    float:right;
    font-size: 20px;
    margin-top: 30px;
}
.weather{
    height: 90px;
}
.news{
    margin: 5px;
}
/*....center news block.....*/
.centralblock{
    background-color: #e5e5e5;
    padding: 5px;
}
h2{
    padding: 15px;
    font-size: 30px;
    color: black;
}
h2:hover{
    color:#696767;
}
.centerimg{
    width: 100%;
    height: auto;
    padding: 10px;
}
.centernews{
    font-size: 20px;
    padding: 5px;
}
.centernews p{
    color:black;
}
.centernews p:hover{
    color: #696767;
}
/*.....side news block....*/
.sideimg{
    width: 100%;
    height: auto;
    padding: 5px;
}
.sideblock{
    background-color: #e5e5e5;
    padding: 5px;
}
h4{
    padding: 10px;
    padding-top: 25px;
    font-size: 18px;
}
.sidenews{
    font-size: 16px;
    padding: 5px;
}
div.sidenews:hover{
   color: #696767; 
}
h3{
    text-align: left;
    font-size: 22px;
    padding: 5px;
    padding-top: 15px;
    color: black;
}
/*.....small news blocks....*/
.smallimg{
    width: 40%;
    height: 95px;
    float: left;
}
.smallnews{
    font-size:16px;
    width: 55%;
    float: right;
    font-weight: bold;
}
div.smallnews:hover{
   color: #696767; 
}
.smallblock{
    background-color: #e5e5e5;
    padding: 5px;
}
/*....ads block.....*/
.adsblock{
    background-color: #e5e5e5;
    padding: 5px;
}
.ads{
    width:100%;
    height:auto;
    padding: 5px;
}
/*....subscription block...*/
.subscribeblock{
    background-color: #fc6666 ;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.buttons {
  background-color:#e5e5e5; /* Green */
  border: none;
  color: black;
  padding: 15px;
    margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px; 
}
/*....news headings block....*/
.subnewsblock{
    background-color: #e5e5e5;
    padding: 5px;
    margin-bottom: 10px;
}
.subnewsblock h2{
    padding: 10px;
}
/*...horoscope....*/
.horoscopeblock{
   background-color: #e5e5e5;
    padding: 5px; 
}
.eachzodiac img{
    width: 50%;
    height: auto;
    float: left;
    padding: 5px;
}
.eachzodiac p{
    font-size:14px;
    width: 45%;
    float: right;
    text-align: center;
    padding: 5px;
    color: black;
}
.eachzodiac{
    display: table-row;
}
/*......detailed news....*/
.detailednews{
    background-color: #e5e5e5;
    padding: 5px;
}
#img1{
    width: 50%;
    height: auto;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#img2{
    width: 70%;
    height: auto;
    padding: 50px;
    padding-left: 350px;
    display: block;
}
.detailednews p{
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 25px;
}
.detailednews h2{
    font-size: 40px;
    color: #5a031e;
    text-align: center;
    padding: 30px;
    padding-left: 20%;
    padding-right: 20%;
    
}
